h1 {
    font-family: "Roboto";
}
h2 {
    font-family: "Roboto";
}
h3 {
    font-family: "Roboto";
}
h4 {
    font-family: "Roboto";
}
.wy-side-nav-search {
    background-color: #0d63a0;
}
/* .icon {
    color: #2980b9
} */
/* .wy-nav-side {
    background: #002c50;
} */
/* .rst-versions .rst-current-version {
    background-color: #0d63a0;
} */